/*Importacion de tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Almarai:wght@300;400;700;800&display=swap');

/*estilo, pagina principal*/

html {
    background-color: #282828; /*color de fondo*/
    background-repeat: no-repeat;
    background-attachment: scroll; /*desaparecer en el scroll*/
    background-size: 200px 200px; /*amplitud*/
}

/*Encabezado*/
.des1 {
  font-size: 30px;
  text-align: start; /*posicion*/
  padding-right: 500pt;
  font-family: 'Almarai', sans-serif;
}

.des2 {
  font-size: 30px;
  padding-right: 500pt;
  font-family: 'Abel', sans-serif;
}

.acciones {
  color: white;
  flex-direction: column-reverse;
  /*position: fixed; - esto en en verical*/ 
  display:grid; /*qhace que los elementos se alinien en horizontal*/

  grid-template-columns: repeat(4,auto);

  margin-right: 30px;
  margin-left: 1200px;
    
}

.header { /*id barra tambien es permitido*/
    display: flex; /*agrupar elementos de manera horizontal*/
    align-items: center; /* Alinea el contenido verticalmente */
    justify-content: flex-start;  /* Alinea el contenido a la izquierda */
    color: #00d5a0;
    z-index: 10; /*encima del fondo*/
    margin-left: 50px;
}


.seccion {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), /* Degradado semitransparente */
    url(../html/img/found.png);
  color: white;

  background-repeat: no-repeat;
  background-size: cover; /* Esto hace que la imagen cubra todo el elemento */
  background-position: center; /* Centra la imagen */
  width: 100vw; 
  height: 100vh;
  display: flex; /* Necesario para align-items y justify-content */
  align-items: center;
  justify-content: center;
  margin: 0; /* Elimina márgenes predeterminados del párrafo */
  padding: 0; /* Elimina relleno predeterminado */
  align-content: center; /*Alineacion del texto*/
  display: flex;
  flex-flow: row wrap;
  font-size: 50px;
}


.box {
  font-size: 40px;
  margin-left: 50px; /*Margenes a la izquierda*/
  margin-right: 50px; /*Margenes a la derecha*/
}



.boton_citas {
  width: 350px;
  height: 80px;
  color: #000;
  font-size: 40px;
  align-items: start;
  border-radius: px;
  font-family: 'Abel', sans-serif;
  /*border: 2px solid #00d5a0*/
} /*configuracion inicial del boton*/

.boton_citas:hover {
color: rgb(3, 3, 3);
background-color: #85ecd3;
} /*Al poner el cursor*/

.boton_citas:active {
  color: rgb(0, 0, 0);
  background-color: #00d5a0;
} /*al hacer click cambio de color*/

.colaboracion {
  color: white;
}

.registro {
  color: white;
  background-color: #282828;
  border-radius: 5px;
  /*border-color: aquamarine;*/
}
.registro:active { /*al precionar*/
  color: #000;
  background-color: #00d5a0;
}

.registro:hover {
  color: black;
  background-color: #85ecd3;
}

.colaboracion {
  padding-right: 50px;
  padding-left: 50px;
  font-size: 20px;
}

.creditos {
  color: #7a7979;
}

hr {
  color: #00d5a0;
}