/*Importacion de tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Almarai:wght@300;400;700;800&display=swap');

/*estilo, pagina principal*/

html {
    background-color: #282828; /*color de fondo*/
    background-repeat: no-repeat;
    background-attachment: scroll; /*desaparecer en el scroll*/
    background-size: 200px 200px; /*amplitud*/
}

/*Barra de navegacion*/

header { /*id barra tambien es permitido*/
    display: flex; /*agrupar elementos de manera horizontal*/
    align-items: center; /* Alinea el contenido verticalmente */
    justify-content: flex-start;  /* Alinea el contenido a la derecha */
    color: #00d5a0;
    z-index: 10; /*encima del fondo*/
    margin-left: 50px;
}

.acciones{
  margin-left: auto;
  padding-right: 50px;
}
/*Contenido de Navegacion*/
.acciones ul { /*Estilo a las listas*/
  display: flex; /*elemntos en horizontal*/
  list-style: none; /*Eliminar los puntos en las lista*/
  gap: 20px; /*Espacio entre elementos*/
  color: white; /*color a la lista*/
}

.acciones li { /*Estilos para el contenido de las listas*/
  display: flex;
  align-items: center;
}

.acciones a {
  color: white;
  text-decoration: none;
}

.acciones a:hover {
  color: #00d5a0;
  
}

/*boton de registro*/
.registro button {
  color: white;
  background-color: #282828;
  border-radius: 5px;
  padding: 10px 10px; /*Espacio en el elemento*/
  border-color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.5s, color 0.5s;
}

.registro button:active { /*al precionar*/
  color: #ffffff;
  background-color: #282828;
}

.registro button:hover {
  color: rgb(3, 3, 3);
  background-color: #85ecd3;
}

/*Contenido de la web*/
.des1 {
  font-size: 30px;
  text-align: start; /*posicion*/
  padding-right: 500pt;
  font-family: 'Almarai', sans-serif;
}

.des2 {
  font-size: 30px;
  padding-right: 500pt;
  font-family: 'Abel', sans-serif;
}

/*fondo principal*/
.seccion {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), /* Degradado semitransparente */
    url(../html/img/found.png);
  color: white;

  background-repeat: no-repeat;
  background-size: cover; /* Esto hace que la imagen cubra todo el elemento */
  background-position: center; /* Centra la imagen */
  width: 100vw; 
  height: 100vh;
  display: flex; /* Necesario para align-items y justify-content */
  align-items: center;
  justify-content: center;
  margin: 0; /* Elimina márgenes predeterminados del párrafo */
  padding: 0; /* Elimina relleno predeterminado */
  align-content: center; /*Alineacion del texto*/
  flex-flow: row wrap;
  font-size: 50px;
}

/*Margenes de texto*/
.box {
  font-size: 40px;
  margin-left: 50px; /*Margenes a la izquierda*/
  margin-right: 50px; /*Margenes a la derecha*/
  /*margin-left: 10%;
  margin-right: 10%;*/
}

.boton_citas {
  width: 350px;
  height: 80px;
  color: #000;
  font-size: 40px;
  align-items: start;
  border-radius: 10px;
  font-family: 'Abel', sans-serif;
  background: rgba(245, 246, 248, 0.75);
  transition: background-color 0.5s, color 0.5s;
  /*border: 2px solid #00d5a0*/
} /*configuracion inicial del boton*/

.boton_citas:hover {
color: rgb(3, 3, 3);
background-color: #85ecd3;
} /*Al poner el cursor*/

.boton_citas:active {
  color: rgb(0, 0, 0);
  background-color: #00d5a0;
} /*al hacer click cambio de color*/

.colaboracion {
  color: white;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 20px;
}

.creditos {
  color: #7a7979;
}

hr {
  color: #00d5a0;
  /*margin: 50px;*/
}

.colaboracion p {
  font-family: 'Almarai', sans-serif;
  font-size: 25px;
}

.box_text p {
  color: white;
  border: #00d5a0;
  padding-left: 15px;
  padding-right: 15px;

}
 .box_text img {
  width: 10 px;
  height: 50 px;
  background-image: none, url(../html/img/tec.png)
  
  
 }

 .acciones li:hover {
  color: #00d5a0;
  transition: background-color 0.5s, color 0.5s;
 }

