/*Importacion de tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Almarai:wght@300;400;700;800&display=swap');

/*estilo, pagina principal*/

html {
    background-color: #282828; /*color de fondo*/
    background-repeat: no-repeat;
    background-attachment: scroll; /*desaparecer en el scroll*/
    background-size: 100% 100%; /*amplitud*/
}

/*Barra de navegacion*/

header { /*id barra tambien es permitido*/
    display: flex; /*agrupar elementos de manera horizontal*/
    align-items: center; /* Alinea el contenido verticalmente */
    justify-content: flex-start;  /* Alinea el contenido a la derecha */
    color: #00d5a0;
    z-index: 10; /*encima del fondo*/
    margin-left: 5%;
    margin-right: 5%;
}

.acciones{
  margin-left: auto;
  padding-right: 5%;
}
/*Contenido de Navegacion*/
.acciones ul { /*Estilo a las listas*/
  display: flex; /*elemntos en horizontal*/
  list-style: none; /*Eliminar los puntos en las lista*/
  gap: 20px; /*Espacio entre elementos*/
  color: white; /*color a la lista*/
}

.acciones li { /*Estilos para el contenido de las listas*/
  display: flex;
  align-items: center;
}

.acciones a {
  color: white;
  text-decoration: none;
}

.acciones a:hover {
  color: #00d5a0;
  
}

/*boton de registro*/
.registro button {
  color: white;
  background-color: #282828;
  border-radius: 5px;
  padding: 10px 10px; /*Espacio en el elemento*/
  border-color: #02ffb3;
  border-radius: 10px;
  transition: background-color 3s, color 3;
}

.registro button:active { /*al precionar*/
  color: #02ffb3;
  background-color: #282828;
}

.registro button:hover {
  color: rgb(255, 255, 255);
  background-color: #282828;
  border-color: #007e59;
}

/*Contenido de la web*/
.des1 {
  font-size: 30px;
  text-align: start; /*posicion*/
  padding-right: 15%;
  padding-right: 15%;
  font-family: 'Almarai', sans-serif;
}

.des2 {
  text-align: start;
  font-size: 30px;
  padding-right: 5%;
  font-family: 'Abel', sans-serif;
}

/*fondo principal*/
.seccion {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), /* Degradado semitransparente */
    url(../html/img/found.png);
  color: white;

  background-repeat: no-repeat;
  background-size: cover; /* Esto hace que la imagen cubra todo el elemento */
  background-position: center; /* Centra la imagen */
  width: 100%; 
  height: 100vh; /*todo el espacio del navegador*/
  display: flex; /* Necesario para align-items y justify-content */
  align-items: center;
  justify-content: center;
  margin: 0; /* Elimina márgenes predeterminados del párrafo */
  padding: 0; /* Elimina relleno predeterminado */
  align-content: center; /*Alineacion del texto*/
  flex-flow: row wrap;
  font-size: 14%;
}

/*Margenes de texto*/
.box {
  font-size: 40px;
  margin-left: 5%; /*Margenes a la izquierda*/
  margin-right: 5%x; /*Margenes a la derecha*/
}

.boton_citas {
  width: 350px;
  height: 80px;
  color: #000;
  font-size: 40px;
  align-items: start;
  border-radius: 10px;
  font-family: 'Abel', sans-serif;
  background: rgba(245, 246, 248, 0.75);
  transition: background-color 0.5s, color 0.5s;
  /*border: 2px solid #00d5a0*/
} /*configuracion inicial del boton*/

.boton_lugares li {
  width: 200px;
  height: 70px;
  color: #ffffff;
  font-size: 40px;
  border-radius: 10px;
  font-family: 'Abel', sans-serif;
  background: #282828;
  transition: background-color 0.5s, color 0.5s;
}


.boton_lugares li:hover{
  border-color: #00d5a0;
  color: #00d5a0;
}


.boton_citas:hover {
color: rgb(3, 3, 3);
background-color: #85ecd3;
} /*Al poner el cursor*/

.boton_lugares:active,
.boton_citas:active {
  color: rgb(0, 0, 0);
  background-color: #00d5a0;
} /*al hacer click cambio de color*/

.colaboracion {
  color: white;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 100%;
  font-family: 'Abel', sans-serif;
  text-align: center;
  
}

.creditos {
  color: #7a7979;
}

/*hr {
  color: #00d5a0;
  /*margin: 50px;*
}
*/
.colaboracion p {
  font-family: 'Almarai', sans-serif;
  font-size: 25px;
}

.acciones li:hover {
  color: #00d5a0;
  transition: background-color 0.5s, color 0.5s;
 }

 /* Diseno reponsivo */
 @media (max-width: 768px) { /*media query*/

  header {
    padding: 5% 5%;
  }

  .header img {
    max-width: 50px;
  }

  .header h1 {
    font-size: x-small;
  }

  .acciones ul{
    font-size: x-small;
  }

  .boton_citas {
    height: min-content;
    width: min-content;
  }
  
  .registro button {
    padding: 5px 10px; /*size del boton*/
  }
  
  .seccion {
    flex-direction: column;
    padding: 1% 1%;
    font-size: 1rem;
    padding: 5% 5%;
    text-align: center;
  }

  .des1, .des2 {
    text-align: center;
    font-size: 1rem;
    padding: 0 10%;
  }
  .boton_citas {
    padding: 4px 20px;
    font-size: small;
  }

  .colaboracion h1, p {
        text-align: center;
    font-size: 1rem;
    padding: 0 10%;

  }
 }